/Lab/Lab3/Q1/nbproject/private/
/Lab/Lab3/Q1/build/
/Lab/Lab3/Q2/nbproject/private/
/Lab/Lab3/Q2/build/
/Lab/Lab3/Q3/nbproject/private/
/Lab/Lab3/Q3/build/
/Lab/Lab3/Q5/nbproject/private/
/Lab/Lab3/Q5/build/
/Lab/Lab3/Q4/nbproject/private/
/Lab/Lab3/Q4/build/
/Practice/Prac1/nbproject/private/
/Practice/Prac1/build/
/Practice/Prac2/nbproject/private/
/Practice/Prac2/build/
/Lab/Lab4/Q1/nbproject/private/
/Lab/Lab4/Q1/build/
/Lab/Lab4/Q2/nbproject/private/
/Lab/Lab4/Q2/build/
/Lab/Lab4/Q3/nbproject/private/
/Lab/Lab4/Q3/build/
/Lab/Lab4/Q4/nbproject/private/
/Lab/Lab4/Q4/build/
/Lab/Lab4/Q5/nbproject/private/
/Lab/Lab4/Q5/build/
/Lab/Lab4/Q5/dist/
/Lab/Lab4/Q6/nbproject/private/
/Lab/Lab4/Q6/build/
/Lab/Lab4/Q7/nbproject/private/
/Lab/Lab4/Q7/build/
/Lab/Lab4/Q8/nbproject/private/
/Lab/Lab4/Q8/build/
/Lab/Lab5/Q1/nbproject/private/
/Lab/Lab5/Q1/build/
/Lab/Lab5/Q2/nbproject/private/
/Lab/Lab5/Q2/build/
/Lab/Lab5/Q3/nbproject/private/
/Lab/Lab5/Q3/build/
/Lab/Lab5/Q4/nbproject/private/
/Lab/Lab5/Q4/build/
/Lab/Lab5/Q5/nbproject/private/
/Lab/Lab5/Q5/build/
/Lab/Lab5/Q6/nbproject/private/
/Lab/Lab5/Q6/build/
/LabNew/ReadMyLetter_25006180/nbproject/private/
/LabNew/ReadMyLetter_25006180/build/
/LabNew/Lab1/ReadMyLetter_25006180/build/
/LabNew/Lab1/ReadMyLetter_25006180/nbproject/private/
/LabNew/Q2/nbproject/private/
/LabNew/Q2/build/
/LabNew/Q3/nbproject/private/
/LabNew/Q3/build/
/LabNew/Q4/nbproject/private/
/LabNew/Q4/build/
